html {
  width: fit-content;
}

.body-tag {
  background-color: #000000;
}

body ::selection {
  background-color: #0aff9d;
  color: black;
}

.img-header {
  margin-top: 2em;
  width: 2.2em;
  background-color: rgb(30, 28, 28);
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.4em;
}

.side-bar {
  background: #101010;
  width: 4em;
  height: 100%;
  text-align: center;
  writing-mode: vertical-lr;
  align-items: center;
  font-family: nexa;
  border-right: 1px solid transparent;
  top: 0;
  position: fixed;
  left: 0;
  display: flex;
  overflow: hidden;

  animation: slideIn 0.9s ease;
  animation-duration: 0.9s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: slideIn;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.navbar-link {
  padding-top: 1em;
  margin-top: 1em;
  opacity: 0.5;
  height: 5.5em;
  color: #ffffff;
  width: 4em;
  align-items: center;
  display: flex;
}

.navbar-link2 {
  padding-top: 0.5em;
  margin-top: 1em;
  opacity: 0.5;
  height: 6em;
  color: #ffffff;
  width: 4em;
  align-items: center;
  display: flex;
}

.navbar-nav {
  width: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 1em;
}

.navbar-link:hover {
  color: #ffff;
  opacity: 100;
  border-right: 2px solid #0aff9d;
  background: #252525;
  text-decoration: none;
}

.navbar-link2:hover {
  color: #ffff;
  opacity: 100;
  border-right: 2px solid #0aff9d;
  background: #252525;
  text-decoration: none;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(12px);
  z-index: 101;
  height: 5em;
  padding-right: 1.8em;
  padding-left: 1.5em;
  margin-left: 4em;
  position: sticky;
  top: 0;
  margin-top: 15px;

  padding: 1em 0;

  animation: headerIn 0.9s ease;
  animation-duration: 0.9s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: headerIn;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  animation-delay: 0.3s;
}

@keyframes headerIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.social-icons .icon {
  margin-right: 15px;

}

.social-icons {
  display: flex;
  align-items: center;
}


.resume-box {
  background: transparent;
  border: 1px solid #0aff9d;
  border-radius: 4px;
  color: #0aff9d;
  cursor: pointer;
  padding: 0.4em 1em;
  font-weight: 400;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}


.resume-box a {
  text-decoration: none;
  color: #06da85;
}


.resume-box:hover {
  color: #0aff9d;
  font-weight: 500;
}


@media (max-width: 576px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    margin-bottom: 10px;
  }

  .resume-box {
    margin-top: 10px;
  }
}

.main-body {
  margin: 0 4em;
  max-width: 2000px;
  position: relative;
  overflow: hidden;
  padding: 0 5.1em 0 5.1em;
  z-index: 46;
}

.main-content {
  width: fit-content;
  position: relative;
  z-index: 2;
}

.title {
  font-weight: 900;
  color: rgb(255, 255, 255);
  line-height: 1.1;
  font-size: 5.5em;
  text-align: center;
  animation: TitleIn 0.9s ease;
}

@keyframes TitleIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
  }
}

.title span {
  color: #0aff9d;
}

.subtitle {
  font-weight: 300;
  font-size: 2em;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  animation: SubTitleIn 0.9s ease;
}

@keyframes SubTitleIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
  }
}

.subtitle span {
  color: #0aff9d;
  font-weight: 700;
}

.description {
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  font-size: 1.1em;
  max-width: 100%;
  position: relative;
  animation: DiscriptionIn 0.9s ease;
}

@keyframes DiscriptionIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .main-body {
    margin: 0 2em;
    padding: 3em;
  }

  .Contact-button {
    font-size: 1em;
    padding: 0.6em 1.2em;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 2.5em;
  }

  .subtitle {
    font-size: 1.5em;
  }

  .description {
    font-size: 0.8em;
  }
}

.Contact-button {
  color: #000000;
  background: #0aff9d;
  border: 1px solid #0aff9d;
  font-weight: bolder;
  border-radius: 5px;
  font-family: nexa;
  font-weight: 400;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 1.2em;

  animation: ContactIn 0.9s ease;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: ContactIn;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  animation-delay: 0s;
}

@keyframes ContactIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
  }
}

.Contact-button a {
  color: #000000;
  text-decoration: none;
}

.Contact-button:hover {
  background: #01b472;
  border: 1px solid #01b472;
}

.Contact-button:hover a {
  color: #ffffff;
}

.About-title {
  color: #ffff;
  font-weight: 900;
  font-size: 3.5em;
  padding-top: 0.5em;
  animation: AboutTitleIn 0.9s ease;
  text-align: left;
  margin-left: 8%;
}

@keyframes AboutTitleIn {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  100% {
    opacity: 1;
  }
}

.About-title span {
  color: #0aff9d;
  font-size: 2em;
  font-weight: 900;
  margin-left: -0.13em;
}

@media (max-width: 768px) {
  .About-title {
    margin-left: 15%;
  }
}

.text-about {
  color: #ffff;
  font-weight: 200;
  margin: 0 2em;
  padding: 0 2em;
  font-size: 1.2em;
  text-align: justify;
  animation: AboutTextIn 0.9s ease;
}

@keyframes AboutTextIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
  }
}

.about-links {
  color: #0aff9d;
  font-weight: 600;
  margin: 1em auto;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15%;
}

.about-links span {
  font-weight: 900;
  letter-spacing: -3px;
  margin-left: 0.4em;
}

.About-main-links {
  padding-bottom: 7em;
}

.about-all-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  opacity: 1;
}

.about-all-icons :hover {
  color: #0aff9d;
  opacity: 100%;
}

.about-all-icons span {
  margin: 0 5px;
  transition: transform 0.3s;
}

.about-all-icons span:hover {
  transform: scale(1.1);
}



@media (max-width: 768px) {
  .about-links {
    font-size: 1.1em;
  }

  .about-all-icons {
    justify-content: center;
    margin: 0 3px;
  }
}

@media (max-width: 768px) {
  .About-title {
    font-size: 2.5em;
  }

  .About-title span {
    font-size: 1.5em;
  }

  .text-about {
    font-size: 1em;
    padding: 0 1em;
  }
}

.Contact {
  color: #ffff;
  font-weight: 900;
  text-align: center;
  margin-top: 5%;
  font-size: 3.5em;


  animation: contactMainIn 0.9s ease;
  animation-delay: 0s;
  animation-name: contactMainIn;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: none;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
}

@keyframes contactMainIn {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }

  100% {}
}

.Contact span {
  font-weight: 900;
  margin-left: -0.28em;
  color: #0aff9d;
}

.contact-info {
  color: #ffff;
  font-weight: 300;
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 0.5em;

  animation: contactIn 0.9s ease;
  animation-delay: 0s;
  animation-name: contactIn;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-duration: 3.5s;
  animation-timing-function: ease;
  animation-fill-mode: none;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
}

@keyframes contactIn {
  0% {
    opacity: 0;
  }

  100% {}
}

.contact-info a {
  font-weight: 600;
  margin-left: -12px;
  color: #0aff9d;
}


.contact-mail:hover .contact-image {
  color: #0aff9d;
  opacity: 0.8;
}

.contact-mail:hover .contact-mail-info {
  color: #0aff9d;
  text-decoration: none;
}


.contact-image3 {
  color: #ffff;
  opacity: 0.3;
  transition: color 0.3s;
  width: 1.8em;
  height: 1.8em;
  margin-left: 1em;
}

.header-icons :hover {
  color: #0aff9d;
  opacity: 100%;
}

.contact-main {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 7em;
}

.contact-mail a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffff;
}

.section-line {
  height: 0.5px;
  opacity: 0.3;
  width: 95.8%;
  background-color: #afafaf;
  display: flex;
  gap: 1em;
  margin-left: 4em;
}

.project-title {
  color: #fff;
  text-align: left;
  margin-left: 18%;
  font-weight: 900;
  font-size: 3.5em;
  animation: SkillTitleIn 0.9s ease;
}

@keyframes SkillTitleIn {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.project-title span {
  color: #0aff9d;
  font-size: 1.3em;
  font-weight: 900;
}

.main-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2em;
  margin: 0 auto;
  padding: 2em 5%;
  max-width: 1300px;
}

.project-card {
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  max-width: 450px;
  margin: 20px auto;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: nexa;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.project-thumbnail {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-thumbnail img {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.project-info {
  padding: 10px;
  text-align: center;
}

.project-info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.learn-more-btn {
  background-color: #0aff9d;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #00e889;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  color: #fff;
  font-family: nexa;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: #fff;
  cursor: pointer;
}

.project-links {
  margin-top: 20px;
}

.project-links a {
  color: #0aff9d;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.project-links a:hover {
  text-decoration: underline;
}

.modal img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.modal.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.experience-title {
  color: #ffff;
  font-weight: 900;
  text-align: left;
  margin-bottom: 5%;
  margin-left: 10%;
  font-size: 3.5em;

  animation: experienceIn 0.9s ease;
  animation-duration: 1.5s;
  animation-name: experienceIn;
  animation-delay: 0s;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-timeline: auto;
  animation-play-state: running;
  animation-range-start: normal;
  animation-range-end: normal;
}

@keyframes experienceIn {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  100% {
    opacity: 100;
  }
}

.experience-title span {
  color: #0aff9d;
  font-size: 1.3em;
  font-weight: 900;
  margin-left: -0.23em;
}

@media (max-width: 768px) {
  .experience-title {
    font-size: 2.5em;
    margin-left: 12%;
  }
}


.experience-section {
  background-color: #000;
  color: #fff;
  padding: 40px;
}

.experience-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-family: nexa;
  margin: 0 auto;
  padding: 20px;
  max-width: 90%;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.company-name {
  font-size: 1.5em;
  font-weight: bold;
}

.experience-time {
  font-size: 1em;
  color: #aaa;
}

.job-title {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 5px;
  color: #00ff00;
}

.job-location {
  font-size: 1em;
  margin-bottom: 10px;
  color: #ccc;
}

.job-description {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #ddd;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  background-color: #222;
  color: #0aff9d;
  padding: 8px 12px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .company-name {
    margin-left: 5%;
  }

  .experience-time {
    margin-right: 5%;
  }

  .job-title {
    margin-left: 5%;
    margin-right: 5%;
  }

  .job-location {
    margin-left: 5%;
    margin-right: 5%;
  }

  .job-description {
    margin-left: 5%;
    margin-right: 5%;
  }
}


.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.9em;
  color: #fff;
}

.contact-mail {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  color: #ffff;
  margin-top: -0.5em;
  flex-wrap: wrap;
}

.contact-mail:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-image {
  color: #ffff;
  opacity: 0.3;
  transition: color 0.3s;
  width: 1.8em;
  height: 1.8em;
  margin-right: 0.5em;
}

.contact-mail:hover .contact-image {
  color: #0aff9d;
  opacity: 0.8;
}

.contact-mail:hover .contact-mail-info {
  color: #0aff9d;
  text-decoration: none;
}


.contact-mail-info {
  color: #fff;
  font-size: 1em;
  font-family: nexa;
  margin-left: 1.8em;
  width: fit-content;
  gap: 1em;
}

@media (max-width: 768px) {

  .contact-description,
  .contact-info {
    margin-left: 20%;
  }

  .contact-mail {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-left: 10%;
  }

  .contact-image {
    margin-left: auto;
    margin-bottom: 0;
    width: 1.5em;
    height: 1.5em;
  }

}




@keyframes contactIn {
  0% {
    opacity: 0;
  }

  100% {}
}


@media (max-width: 768px) {
  #modal1 .modal-dialog {
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  #modal1 .modal-dialog {
    max-width: 95%;
  }
}